# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.npm
*.log

# Database
*.sqlite
*.db

# OS
Thumbs.db

# IDEs
.vscode/
.idea/

# Custom
.venv/
brain/
